<table>

  <tr bgcolor= "#aec6cf">
    <th colspan="2"><%= @cat_cuddle_request.status %> REQUEST FOR <%= Cat.find(@cat_cuddle_request.cat_id).name.upcase %></th>
  </tr>
  
  <tr>
    <td><b>Start date</b></td>
    <td><%= @cat_cuddle_request.start_date %></td>
  </tr>

  <tr>
    <td><b>End date</b></td>
    <td><%= @cat_cuddle_request.end_date %></td>
  </tr>

</table>
